APP_NAME=bot-service
ENV=local

TELEGRAM_BOT_TOKEN=8648813363:AAEF1Il8mwLssmuv7iUREpwqrjqWY1ybTdQ

JWT_SECRET=secret
JWT_ALG=HS256

REDIS_URL=redis://redis:6379/0
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672//

OPENROUTER_API_KEY=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
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_MODEL=stepfun/step-3.5-flash:free
OPENROUTER_SITE_URL=https://example.com
OPENROUTER_APP_NAME=llm-fastapi-openrouter
